<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>create</title>
  <link rel="stylesheet" href="/styles/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Shrikhand" rel="stylesheet">
  <link rel="stylesheet" href="/styles/profile.css">
</head>
<body>
  <div id="top">
    <a href="/userSearch">Search</a>
    <h1>GAMES</h1>
    <form action="/auth?_method=DELETE" method="POST">
      <input id="submit" type="submit" value="Logout">
    </form>
  </div>
  <div id="container">
      <% for (let i = 0; i < games.length; i++) { %>
        <div class="game">
          <div> game name: <%= games[i].name %> </div>
          <!-- <form action="/profile/edit/<%= games[i]._id %>?_method=PUT" method="POST">
            <input type="text" name="games[name]" placeholder="edit game name">
            <input type="submit" value="edit">
          </form> -->
          <div> date: <%= games[i].date %> </div>
          <div> time: <%= games[i].time %> </div>
          <form action="/profile/<%= games[i]._id %>?_method=DELETE" method="POST">
            <input type="submit" value="delete">
          </form>
        </div>
      <% } %>
    </div>
</body>
</html>
