<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Search Results</title>
  <link rel="stylesheet" href="/styles/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Shrikhand" rel="stylesheet">
  <link rel="stylesheet" href="/styles/results.css">
</head>
<body>

  <div id="top">
    <a href="/signup">Sign Up</a>
    <h1>Results</h1>
    <a href="/login">Log In</a>
  </div>

    <%// thanks to Paris Leach! %>
    <% let newObj = {} %>
    <% for (let i = 0; i < parks.length; i++) { %>
      <% newObj[parks[i].gispropnum] = parks[i] %>
    <% } %>
    <% for (let i = 0; i < facs.length; i++) { %>
      <% let temp = newObj[facs[i].gispropnum] %>
      <% for (let key in facs[i]) { %>
        <% temp[key] = facs[i][key] %>
      <% } %>
    <% } %>

  <% for (let key in newObj) { %>
    <% if (
      newObj[key].typecatego === 'Recreation Field/Courts' ||
      newObj[key].rugby === 'Yes' ||
      newObj[key].adultfootb === 'Yes' ||
      newObj[key].flagfootba === 'Yes'
    ) { %>

      <%// automatically display some information %>
      <div id="teaser<%= key %>" class="teaser">
        <div class="signname"><%= newObj[key].signname %></div>
        <div><%= newObj[key].location %></div>
        <div><%= newObj[key].typecatego %></div>
        <button id="open<%= key %>" class="open button">Learn More</button>
      </div>

      <%// on command reveal more information %>
      <div id="modal<%= key %>" class="modal">
        <div><%= newObj[key].signname %></div>
        <div><%= newObj[key].address %></div>
        <div><%= newObj[key].location %></div>
        <div><%= newObj[key].surface_ty %></div>
        <a href="/signup">Sign up or login to create your own game!</a>

      <% for (let i = 0; i < games.length; i++) { %>
            <% if (games[i].park === newObj[key].gispropnum) { %>
              <div id="other<%= key %>" class="other">
                <br>
                <div id="specialsign" class="signname">Other games</div>
                <div> name: <%= games[i].name %> </div>
                <div> date: <%= games[i].date %> </div>
                <div> date: <%= games[i].time %> </div>
              </div>
            <% } %>
          <% } %>
        <button id="close<%= key %>" class="close button">Close</button>
      </div>
    <% } %>
  <% } %>

  </div>


  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js'></script>
  <script src="/scripts/modal.js" type="text/javascript"></script>
</body>
</html>
